.about-header {
  background-image: url("../../images/aboutBanner.jpg");
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  align-items: center;
  height: 400px;
}
.about-header h2 {
  font-size: 3rem;
  margin-top: 35px;
}
.about-header h3 {
  font-size: 1.8rem;
  width: 80%;
  text-align: center;
}
.ourStory h4 {
  font-size: 2.4rem;
  text-align: center;
  border-bottom: 2px solid rgb(192, 184, 184);
  width: 75%;
  padding-bottom: 15px;
  margin: 50px auto;
}
.ourStory p {
  font-size: 1.4rem;
  width: 70%;
  margin: 0 auto 60px;
  text-align: center;
}
